<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.4/styles/<%= @theme %>.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>source code view for <%= @url %></title>
  </head>
  <body>
    <ol>
    <% i = 0 %>
    <% @source.each_line do |line| %>
      <li id="line-<%= i += 1 %>"><pre><code><%= h line %></code></pre></li>
    <% end %>
    </ol>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.4/highlight.min.js" type="text/javascript"></script>
    <script src="/javascripts/app.js" type="text/javascript"></script>
  </body>
</html>
