ol {
  border: 1px solid #E0E0E0;
  font-size: 0.8em;
}

li {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  margin-left: 20px;
  border-left: 1px solid #E0E0E0;
}

pre { margin: 0px; padding: 0px; font-size: 1.3em; text-wrap:normal; overflow-wrap:break-word; }

li:nth-child(odd) pre code {
  background-image:url('/images/white.png');
}

li:nth-child(even) pre code {
  background-image:url('/images/black.png');
}

li:hover pre code { font-weight: bolder; }
