ol {
  background-color: #FCFCFC;
  border: 1px solid #E0E0E0;
  font-size: 0.8em; }

li {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  margin-left: 20px;
  border-left: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0; }

pre { margin: 0px; padding: 0px; font-size: 1.3em; text-wrap:normal; overflow-wrap:break-word; }

li:hover pre code { font-weight: bolder; }
